html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

.nav-bar {
  background: black;
  padding: .5rem 0;
  display: flex;
  justify-content: space-around;
}

.nav-bar > div {
  color: white;
  font-size: 1.5rem;
}

.nav-bar >div:nth-child(1) {
  font-weight: bolder;
}

.main {
  height: 260px;
  background-color: rgb(239, 239, 239);
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .main > img {
    display: none;
  }
}

.main-text {
  display: inline-block;
  width: calc(100% - 700px);
  color: red;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  color: black;
}

@media (max-width: 768px) {
  .title1 {
    display: block;
  }

  .title2 {
    display: block;
  }

  .main-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}

.title1  {
  font-size: 2.5rem;
}

.title2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .title2 {
    margin: 1rem 0;
  }
}

.btn-quiz {
  background: #D0A6FF;
  padding: 1rem 2rem;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items:center;
  }

  .nav-bar > div {
    padding: .5rem 0;
  }

  .main > img {
    display: none;
  }
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
}


.coupon {
  margin: 5rem 0;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 1rem;
  border-right: 1px solid darkgray;
}

.coupon > span {
  background: #000;
  color: #ffffff;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .coupon {
    padding: 0 0;
    margin: 1rem 0;
    border-bottom: 1px solid darkgray;
  }
}

.clothing-section {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  background-color: rgb(239, 239, 239);
}

@media (max-width: 768px) {
  .clothing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .clothing-section > img {
    margin-bottom: 3rem;
  }
}